#root {
  max-width: 92%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.today-dot::after {
  content: '';
  position: absolute;
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--mantine-primary-color-filled);
}
